<main class="h-screen flex flex-col items-center justify-center">
  <section
    class="flex flex-col justify-center items-center w-full max-w-120 md:shadow-[0px_24px_48px_0px_#041B3C0F] rounded-xl md:p-(--form-padding) px-6"
  >
    <header class="flex flex-col gap-3 items-center">
      <h1 class="text-[30px] text-(--slate-nature-first) font-semibold tracking-normal leading-9">Welcome Back</h1>
      <p
        class="leading-5 font-normal text-(--slate-nature-second) text-slate-nature-second tracking-normal text-[14px] md:px-5.5 px-19.5 text-center"
      >
        Please enter your details to access your workspace.
      </p>
    </header>
    <form novalidate [formGroup]="loginForm" (ngSubmit)="login()" novalidate class="flex flex-col w-full mt-10 gap-6">
      <section class="email-field-container">
        <label
          [class.text-(--error)!]="getControl('email')?.invalid && getControl('email')?.touched"
          for="email"
          class="form-control-label"
          >EMAIL</label
        >
        <div class="email-input-field relative">
          <input
            type="email"
            class="form-control"
            placeholder="yourname@company.com"
            [class.bg-(--form-control-error-bg)]="getControl('email')?.invalid && getControl('email')?.touched"
            [class.outline-(--primary)]="getControl('email')?.valid && getControl('email')?.touched"
            [class.outline-(--form-control-error-bg)]="getControl('email')?.invalid && getControl('email')?.touched"
            [class.focus:outline-(--form-control-error-bg)]="
              getControl('email')?.invalid && getControl('email')?.touched
            "
            formControlName="email"
          />

          <section class="email-icon absolute inset-e-3 top-[50%] translate-y-[-50%]">
            <svg width="21" height="21" viewBox="0 0 21 21" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M3.33333 17.6667C2.875 17.6667 2.48264 17.5035 2.15625 17.1771C1.82986 16.8507 1.66667 16.4583 1.66667 16V6C1.66667 5.54167 1.82986 5.14931 2.15625 4.82292C2.48264 4.49653 2.875 4.33333 3.33333 4.33333H16.6667C17.125 4.33333 17.5174 4.49653 17.8437 4.82292C18.1701 5.14931 18.3333 5.54167 18.3333 6V16C18.3333 16.4583 18.1701 16.8507 17.8437 17.1771C17.5174 17.5035 17.125 17.6667 16.6667 17.6667H3.33333ZM10 11.8333L3.33333 7.66667V16H16.6667V7.66667L10 11.8333ZM10 10.1667L16.6667 6H3.33333L10 10.1667ZM3.33333 7.66667V6V7.66667V16V7.66667Z"
                fill="#737685"
              />
            </svg>
          </section>
        </div>
      </section>

      @if (getControl('email')?.invalid && getControl('email')?.touched) {
        <p class="text-(--error)">Please enter a valid email address.</p>
      }

      <section class="flex flex-col w-full">
        <section class="flex password-container flex-row justify-between">
          <label
            [class.text-(--error)!]="getControl('password')?.invalid && getControl('password')?.touched"
            for="password"
            class="form-control-label"
            >PASSWORD</label
          >
          <a
            routerLink="/forgot-password"
            class="font-bold text-[11px] md:hidden self-end block leading-[16.5px] text-(--primary)"
            >Forgot?</a
          >
        </section>
        <section class="password-field relative">
          <input
            [type]="isPasswordVisible() ? 'text' : 'password'"
            class="form-control"
            [class.bg-(--form-control-error-bg)]="getControl('password')?.invalid && getControl('password')?.touched"
            [class.outline-(--primary)]="getControl('password')?.valid && getControl('password')?.touched"
            [class.outline-(--form-control-error-bg)]="
              getControl('password')?.invalid && getControl('password')?.touched
            "
            [class.focus:outline-(--form-control-error-bg)]="
              getControl('password')?.invalid && getControl('password')?.touched
            "
            placeholder="Enter Your Password"
            formControlName="password"
          />

          <app-password-visibility-icon
            (visibilityChanged)="setPasswordVisiblity($event)"
          ></app-password-visibility-icon>
        </section>
        @if (getControl('password')?.hasError('required') && getControl('password')?.touched) {
          <p class="text-(--error)">Password is required.</p>
        }
        @if (getControl('password')?.hasError('minlength') && getControl('password')?.touched) {
          <p class="text-(--error)">Password must be at least 8 characters long.</p>
        }
        @if (getControl('password')?.hasError('whiteSpace') && getControl('password')?.touched) {
          <p class="text-(--error)">Password must not include white spaces.</p>
        }
        @if (getControl('password')?.hasError('specialChar') && getControl('password')?.touched) {
          <p class="text-(--error)">Password must include a number and a special character.</p>
        }
      </section>
      <section class="forgot-password py-2 flex flex-row flex-wrap justify-between">
        <section class="flex remember-me items-center flex-row gap-2">
          <input
            class="appearance-none h-4 w-4 border border-(--slate-nature-third) rounded bg-(--surface-low) checked:bg-(--primary) checked:appearance-auto"
            [(ngModel)]="rememberUserForMonth"
            [ngModelOptions]="{ standalone: true }"
            type="checkbox"
            name="forgot-password"
            id="forgot-password"
          />
          <label class="text-[14px] font-medium leading-5 tracking-normal text-[#434654]" for="forgot-password"
            >Remember Me</label
          >
        </section>
        <a
          routerLink="/forgot-password"
          class="text-[14px] hidden md:block font-medium leading-5 tracking-normal text-(--primary)"
        >
          Forgot Password?
        </a>
      </section>

      <app-submit-button [isButtonDisabled]="loginForm.invalid" buttonClass="md:py-2 py-3">
        <span class="hidden md:inline-block">Login</span>

        <span class="flex items-center justify-center gap-2 md:hidden">
          <span>Sign In</span>

          <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M10.1458 7.5H0V5.83333H10.1458L5.47917 1.16667L6.66667 0L13.3333 6.66667L6.66667 13.3333L5.47917 12.1667L10.1458 7.5Z"
              fill="white"
            />
          </svg>
        </span>
      </app-submit-button>
      <section class="login-navigation-section mt-8 mb-2 flex flex-row gap-1 justify-center">
        <p class="font-normal text-[14px] leading-5 tracking-normal text-center text-(--slate-nature-second)">
          Don't have an account?
        </p>
        <a
          routerLink="/sign-up"
          class="font-normal cursor-pointer text-[14px] leading-5 tracking-normal text-center text-(--primary)"
        >
          Create one
        </a>
      </section>
    </form>
  </section>
</main>
