<div tabindex="0" (keydown.escape)="close()" class="overflow-hidden relative rounded-2xl lg:bg-white bg-transparent">
  <table class="lg:table hidden w-full border-collapse">
    <!-- Header -->
    <thead class="border-[#C3C6D61A] border-b bg-[#F1F3FF80]">
      <tr class="text-left text-xs font-bold uppercase tracking-wider text-slate-500">
        <th
          class="ps-6 py-4 font-bold text-[0.7rem] leading-[100%] tracking-[0.55px] align-middle uppercase text-(--paragraph-text-common-color)"
        >
          Task ID
        </th>
        <th
          class="ps-6 py-4 font-bold text-[0.7rem] leading-[100%] tracking-[0.55px] align-middle uppercase text-(--paragraph-text-common-color)"
        >
          Title
        </th>
        <th
          class="ps-6 py-4 font-bold text-[0.7rem] leading-[100%] tracking-[0.55px] align-middle uppercase text-(--paragraph-text-common-color)"
        >
          Status
        </th>
        <th
          class="ps-6 py-4 font-bold text-[0.7rem] leading-[100%] tracking-[0.55px] align-middle uppercase text-(--paragraph-text-common-color)"
        >
          Due Date
        </th>
        <th
          class="ps-6 py-4 font-bold text-[0.7rem] leading-[100%] tracking-[0.55px] align-middle uppercase text-(--paragraph-text-common-color)"
        >
          Assignee
        </th>
        <th class="ps-6 py-4"></th>
      </tr>
    </thead>

    <!-- Body -->
    <tbody class="divide-y divide-slate-200">
      <!-- Row -->
      @for (item of tasks(); track item.id) {
        <tr class="hover:bg-slate-50 transition" (click)="setModalStatus(item); $event.stopPropagation()">
          <td class="pe-6.5 ps-6 py-4.25">
            <p class="font-normal text-[0.75rem] leading-4 tracking-normal align-middle text-(--primary)">
              {{ item.taskId }}
            </p>
          </td>

          <td
            class="px-6 py-6.25 font-medium text-[0.875rem] align-middle tracking-normal leading-[100%] text-(--slate-nature-first)"
          >
            {{ item.title }}
          </td>

          <td>
            <span
              class="rounded-xs ms-6 me-5.5 my-4.25 bg-(--form-control-bg) px-2 py-1 font-bold text-[0.7rem] tracking-normal leading-[100%] align-middle uppercase text-[#374763]"
              [class.text-[#93000A]!]="item.status === 'BLOCKED'"
              [class.bg-red-300!]="item.status === 'BLOCKED'"
              [class.bg-[#0052CC1A]!]="item.status === 'IN_PROGRESS'"
              [class.text-[#002113]!]="item.status === 'DONE'"
              [class.bg-(--success)!]="item.status === 'DONE'"
            >
              {{ item.status!.replaceAll('_', ' ') }}
            </span>
          </td>

          <td
            class="font-normal text-[0.875rem] py-4.25 ps-6 pe-5.5 leading-[100%] tracking-normal align-middle text-(--paragraph-text-common-color)"
          >
            {{ item.dueDate }}
          </td>

          @if (item.assignee!.name!) {
            <td>
              <div class="flex items-center gap-3 ps-6 py-4">
                <div
                  class="flex h-11 w-11 items-center justify-center rounded-full bg-indigo-100 font-bold text-indigo-700"
                >
                  {{ getNameInitials(item.assignee!.name!) }}
                </div>

                <span
                  class="font-normal text-[0.875rem] leading-[100%] tracking-normal align-middle text-(--slate-nature-first)"
                >
                  {{ item.assignee!.name }}
                </span>
              </div>
            </td>
          }

          <td class="pe-6 py-5 text-center">
            <button class="rounded p-2 hover:bg-slate-100">⋯</button>
          </td>
        </tr>
      }
    </tbody>
  </table>

  <div class="lg:flex hidden items-center justify-between px-6 py-4">
    <p class="font-medium text-[0.75rem] leading-4 tracking-normal align-middle text-(--paragraph-text-common-color)">
      Showing 5 of {{ tasks().length }} tasks
    </p>

    <div class="flex items-center gap-2">
      <button class="rounded p-2 text-slate-500 hover:bg-slate-100">
        <svg width="5" height="7" viewBox="0 0 5 7" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M3.5 7L0 3.5L3.5 0L4.31667 0.816667L1.63333 3.5L4.31667 6.18333L3.5 7Z" fill="#434654" />
        </svg>
      </button>

      <span
        class="font-medium text-[0.75rem] leading-4 tracking-normal align-middle text-(--paragraph-text-common-color)"
      >
        Page 1 of 5
      </span>

      <button class="rounded p-2 text-slate-500 hover:bg-slate-100">
        <svg width="5" height="7" viewBox="0 0 5 7" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M2.68333 3.5L0 0.816667L0.816667 0L4.31667 3.5L0.816667 7L0 6.18333L2.68333 3.5Z" fill="#434654" />
        </svg>
      </button>
    </div>
  </div>

  <div class="lg:hidden flex flex-col gap-3">
    @for (item of tasks(); track $index) {
      <div class="flex flex-col bg-white p-4 gap-4">
        <div class="flex flex-row justify-between items-start">
          <div class="task-info flex flex-col">
            <h3 class="font-bold text-[0.7rem] leading-4 tracking-[-0.55px] align-middle uppercase text-[#43465480]">
              {{ item.taskId }}
            </h3>
            <p class="font-medium text-[1.125rem] leading-6 tracking-normal align-middle text-(--slate-nature-first)">
              {{ item.title }}
            </p>
          </div>
          <p
            class="font-bold text-[0.7rem] bg-(--form-control-bg) leading-4 text-(--slate-nature-first) tracking-normal align-middle uppercase py-0.5 px-2"
            [class.text-[#93000A]!]="item.status === 'BLOCKED'"
            [class.bg-red-300!]="item.status === 'BLOCKED'"
            [class.bg-[#0052CC1A]!]="item.status === 'IN_PROGRESS'"
            [class.text-[#002113]!]="item.status === 'DONE'"
            [class.bg-(--success)!]="item.status === 'DONE'"
          >
            {{ item.status?.replaceAll('_', ' ') }}
          </p>
        </div>
        <div class="date-section-and-options flex flex-row items-center justify-between">
          <div class="flex flex-row gap-2">
            @if (item.assignee?.name) {
              <p
                class="bg-(--form-control-bg) p-2 rounded-xl font-bold text-[0.7rem] leading-[100%] tracking-normal text-center align-middle"
              >
                {{ getNameInitials(item.assignee!.name!) }}
              </p>
            } @else {
              <p
                class="bg-(--form-control-bg) p-2 rounded-xl font-bold text-[0.7rem] leading-[100%] tracking-normal text-center align-middle"
              ></p>
            }
            <div class="flex flex-col">
              <p class="font-bold text-[0.7rem] uppercase leading-4 tracking-normal align-middle text-[#434654B2]">
                Due date
              </p>
              <p class="font-medium text-[0.75rem] leading-4 tracking-normal align-middle text-(--slate-nature-first)">
                {{ item.dueDate }}
              </p>
            </div>
          </div>
          <svg width="4" height="16" viewBox="0 0 4 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M2 16C1.45 16 0.979167 15.8042 0.5875 15.4125C0.195833 15.0208 0 14.55 0 14C0 13.45 0.195833 12.9792 0.5875 12.5875C0.979167 12.1958 1.45 12 2 12C2.55 12 3.02083 12.1958 3.4125 12.5875C3.80417 12.9792 4 13.45 4 14C4 14.55 3.80417 15.0208 3.4125 15.4125C3.02083 15.8042 2.55 16 2 16ZM2 10C1.45 10 0.979167 9.80417 0.5875 9.4125C0.195833 9.02083 0 8.55 0 8C0 7.45 0.195833 6.97917 0.5875 6.5875C0.979167 6.19583 1.45 6 2 6C2.55 6 3.02083 6.19583 3.4125 6.5875C3.80417 6.97917 4 7.45 4 8C4 8.55 3.80417 9.02083 3.4125 9.4125C3.02083 9.80417 2.55 10 2 10ZM2 4C1.45 4 0.979167 3.80417 0.5875 3.4125C0.195833 3.02083 0 2.55 0 2C0 1.45 0.195833 0.979167 0.5875 0.5875C0.979167 0.195833 1.45 0 2 0C2.55 0 3.02083 0.195833 3.4125 0.5875C3.80417 0.979167 4 1.45 4 2C4 2.55 3.80417 3.02083 3.4125 3.4125C3.02083 3.80417 2.55 4 2 4Z"
              fill="#434654"
              fill-opacity="0.4"
            />
          </svg>
        </div>
      </div>
    }
  </div>
  <button
    [routerLink]="['/project', projectId(), 'tasks', 'new']"
    class="lg:block hidden fixed right-6 text-white bottom-[calc(5dvh+20px)] bg-primary-gradient rounded-lg py-4 px-6 text-[1.5rem]"
  >
    +
  </button>
</div>
@if (isModalOpened()) {
  <app-task-details-modal [selectedItem]="selectedItem()" (isModalOpened)="close()"></app-task-details-modal>
}
