<main class="flex flex-col lg:gap-10 gap-3 lg:m-8 lg:mb-30 mb-53 mt-8">
  <header class="flex flex-col lg:items-start items-center gap-4">
    <div class="lg:flex hidden flex-row items-center justify-start gap-2">
      <a
        routerLink="/projects"
        class="font-bold text-[0.75rem] uppercase tracking-[1.2px] leading-4 align-middle text-[#43465499]"
      >
        PROJECTS
      </a>
      <svg width="4" height="6" viewBox="0 0 4 6" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2.3 3L0 0.7L0.7 0L3.7 3L0.7 6L0 5.3L2.3 3Z" fill="#434654" fill-opacity="0.4" />
      </svg>
      <p class="font-bold text-[0.75rem] uppercase tracking-[1.2px] leading-4 align-middle text-[#43465499]">
        {{ name() === '' ? 'PROJECT TITLE' : name() }}
      </p>
      <svg width="4" height="6" viewBox="0 0 4 6" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M2.3 3L0 0.7L0.7 0L3.7 3L0.7 6L0 5.3L2.3 3Z" fill="#434654" fill-opacity="0.4" />
      </svg>
      <p class="font-bold text-[0.75rem] uppercase tracking-[1.2px] leading-4 align-middle text-(--primary)">MEMBERS</p>
    </div>
    <p class="font-semibold text-[2.25rem] leading-10 tracking-[-0.9] align-middle text-(--slate-nature-first)">
      Project Members
    </p>
  </header>

  @defer (when isLoaded()) {
    <app-members-list-mobile-component [members]="members()"></app-members-list-mobile-component>
    <app-members-table-component [members]="members()"></app-members-table-component>
  } @loading (minimum 500ms) {
    @for (item of [1, 2, 3]; track $index) {
      <div
        class="p-6 lg:hidden bg-white shadow-(--card-or-button-shadow) rounded-lg w-full flex flex-row justify-between items-center gap-4"
      >
        <div class="flex flex-row gap-4">
          <div class="skeleton-basic h-15 w-20"></div>
          <div class="flex flex-col my-2 items-center gap-2">
            <div class="skeleton-basic w-30 h-6"></div>
            <div class="skeleton-basic w-30 h-4"></div>
          </div>
        </div>

        <div class="skeleton-basic h-5 w-20 p-3"></div>
      </div>
    }
    <table
      class="w-full hidden lg:table max-w-196.25 border-spacing-4 mx-auto shadow-[0px_1px_2px_0px_#0000000D] border-4 border-separate border-gray-200 rounded-lg"
    >
      <thead class="bg-[#E0E8FF4D] border-b p-4">
        <tr>
          <td class="skeleton-basic h-7 w-40"></td>
          <td class="skeleton-basic h-7 w-20"></td>
          <td class="skeleton-basic h-7 w-20"></td>
        </tr>
      </thead>
      @for (item of [1, 2, 3]; track $index) {
        <tr class="p-4 border-b border-gray-200 last:border-0">
          <td class="skeleton-basic h-7 w-40"></td>
          <td class="skeleton-basic h-7 w-20"></td>
          <td class="skeleton-basic h-7 w-20"></td>
        </tr>
      }
    </table>
  }
</main>
