<main class="mt-8 lg:mb-10 relative h-dvh flex flex-col gap-10">
  <section class="grid lg:grid-cols-2 grid-cols-1 gap-6 pb-40">
    @for (item of currentEpics(); track item.id) {
      <div
        class="flex flex-col bg-white border-l-4 border-[#004E32] lg:p-4 p-5 gap-3 rounded-lg"
        tabindex="0"
        (click)="selectedEpic.set(item); openModal(true)"
        (keydown.enter)="selectedEpic.set(item); openModal(true)"
        (keydown.space)="selectedEpic.set(item); openModal(true); $event.preventDefault()"
      >
        <app-epic-item-header [epicTitle]="item.title"></app-epic-item-header>
        @if (item.description) {
          <p
            class="lg:mt-1 line-clamp-1 font-semibold text-[1.25rem] leading-7 tracking-normal align-middle text-(--slate-nature-first)"
          >
            {{ item.description }}
          </p>
        }
        @if (item.assignee?.name) {
          <app-epic-item-assignee
            [assigneeName]="item.assignee!.name"
            [deadline]="item.deadline"
          ></app-epic-item-assignee>
        }

        @if (item.createdBy?.name) {
          <app-epic-item-createby
            [createdAt]="item.createdAt"
            [createdByName]="item.createdBy!.name"
          ></app-epic-item-createby>
        }
      </div>
    }
  </section>
  <app-epics-pagination-container
    [infiniteScroll]="isInfiniteScroll()"
    (currentEpicsEmitter)="getCurrentEpics($event)"
    [projectId]="value"
  ></app-epics-pagination-container>

  <button
    [routerLink]="['/project', project().id, 'epics', 'new']"
    class="px-7 text-[1.5rem] fixed right-6 bottom-[calc(10dvh+20px)] py-5 w-fit lg:hidden block self-end bg-(--primary) rounded-lg text-white"
  >
    +
  </button>
</main>
@if (isModalOpen()) {
  <app-project-epic-modal-component
    [isModalOpen]="isModalOpen()"
    (modalStatusEmitter)="openModal($event)"
    [epic]="selectedEpic()"
  ></app-project-epic-modal-component>
}
