<main class="password-checks rounded-sm bg-[#C3C6D61A] p-5 grid md:grid-cols-2 grid-cols-1 md:gap-4 gap-3">
  <header class="md:col-span-2 col-span-1">
    <h1
      class="text-[0.69rem] font-bold leading-[16.5px] pb-2 border-b border-[#C3C6D633] tracking-[0.55px] text-(--paragraph-text-common-color)"
    >
      Security Requirements
    </h1>
  </header>
  <section class="password-check flex flex-row gap-2 items-center">
    <ng-container *ngComponentOutlet="components[0]()"></ng-container>

    <p
      class="text-(--paragraph-text-common-color) font-normal text-[0.69rem] leading-[16.5px] tracking-normal"
      text-(--paragraph-text-common-color)
    >
      8 - 64 characters
    </p>
  </section>
  <section class="password-check md:hidden flex flex-row gap-2 items-center">
    <ng-container *ngComponentOutlet="components[5]()"></ng-container>

    <p class="text-(--paragraph-text-common-color) font-normal text-[0.69rem] leading-[16.5px] tracking-normal">
      Uppercase & Lowercase
    </p>
  </section>
  <section class="password-check md:flex hidden flex-row gap-2 items-center">
    <ng-container *ngComponentOutlet="components[1]()"></ng-container>

    <p class="text-(--paragraph-text-common-color) font-normal text-[0.69rem] leading-[16.5px] tracking-normal">
      Uppercase letter
    </p>
  </section>
  <section class="password-check md:flex hidden flex-row gap-2 items-center">
    <ng-container *ngComponentOutlet="components[2]()"></ng-container>

    <p class="text-(--paragraph-text-common-color) font-normal text-[0.69rem] leading-[16.5px] tracking-normal">
      Lowercase letter
    </p>
  </section>
  <section class="password-check flex flex-row gap-2 items-center">
    <ng-container *ngComponentOutlet="components[3]()"></ng-container>

    <p class="text-(--paragraph-text-common-color) font-normal text-[0.69rem] leading-[16.5px] tracking-normal">
      <span class="md:hidden">At least one digit</span>
      <span class="hidden md:inline">One digit</span>
    </p>
  </section>
  <section class="password-check flex flex-row gap-2 items-center">
    <ng-container *ngComponentOutlet="components[4]()"></ng-container>

    <p class="text-(--paragraph-text-common-color) font-normal text-[0.69rem] leading-[16.5px] tracking-normal">
      Special character
    </p>
  </section>
</main>
