<main
  class="flex flex-col md:mt-23.25 mt-6 md:bg-white md:px-12.25 md:pt-9.25 md:pb-7.25 bg-transparent mx-auto rounded-lg md:shadow-[0px_24px_48px_-12px_#041B3C0F;]"
>
  <form
    (ngSubmit)="resetPassword()"
    [formGroup]="resetPasswordForm"
    class="flex flex-col gap-5 max-w-112.5 md:bg-white bg-transparent w-full rounded-xl"
  >
    <header class="flex flex-col bg-transparent md:text-left text-center md:gap-5.25 gap-2">
      <h1 class="text-[30px] text-(--slate-nature-first) font-semibold tracking-normal px-10 md:px-0 leading-9">
        Create a New Password
      </h1>
      <p
        class="leading-5 font-normal text-(--slate-nature-second) text-slate-nature-second tracking-normal text-[14px] md:px-0 px-4.5"
      >
        Create a new, strong password to secure your workstation access..
      </p>
    </header>
    <div
      class="form-body flex flex-col bg-white mx-6 md:mx-0 shadow-[0px_24px_48px_0px_#041B3C0F] md:shadow-none md:bg-transparent gap-6 mt-3 md:mt-4 p-8 pb-12 md:p-0 rounded-lg md:rounded-none"
    >
      <section class="passwords-section flex flex-col justify-between md:gap-6 gap-4">
        <div class="flex flex-col w-full gap-2">
          <div class="password-container">
            <label
              [class.text-(--error)!]="getControl('password')?.invalid && getControl('password')?.touched"
              for="password"
              class="text-[11px] font-bold leading-[16.5px] tracking-[0.55px] uppercase text-(--slate-nature-second) align-middle"
              >PASSWORD</label
            >
            <div class="password-field relative">
              <input
                [type]="isPasswordVisible() ? 'text' : 'password'"
                class="w-full bg-(--form-control-bg) p-4 rounded-sm outline-(--primary)"
                placeholder="Enter Your Password"
                password
                [class.bg-(--form-control-error-bg)]="
                  getControl('password')?.invalid && getControl('password')?.touched
                "
                [class.outline-(--primary)]="getControl('password')?.valid && getControl('password')?.touched"
                [class.outline-(--form-control-error-bg)]="
                  getControl('password')?.invalid && getControl('password')?.touched
                "
                [class.focus:outline-(--form-control-error-bg)]="
                  getControl('password')?.invalid && getControl('password')?.touched
                "
                formControlName="password"
              />

              <app-password-visibility-icon
                (visibilityChanged)="setPasswordVisiblity($event)"
              ></app-password-visibility-icon>
            </div>
            @if (getControl('password')?.hasError('required') && getControl('password')?.touched) {
              <p class="text-(--error)">Password is required.</p>
            }
            @if (getControl('password')?.hasError('minlength') && getControl('password')?.touched) {
              <p class="text-(--error)">Password must be at least 8 characters long.</p>
            }
            @if (getControl('password')?.hasError('whiteSpace') && getControl('password')?.touched) {
              <p class="text-(--error)">Password must not include white spaces.</p>
            }
            @if (getControl('password')?.hasError('noSpecialChar') && getControl('password')?.touched) {
              <p class="text-(--error)">Password must include a special character.</p>
            }
            @if (getControl('password')?.hasError('hasNumber') && getControl('password')?.touched) {
              <p class="text-(--error)">Password must include a number.</p>
            }
          </div>
        </div>
        <div class="flex flex-col w-full gap-2 confirm-password-container">
          <label
            for="confirmPassword"
            class="text-[11px] font-bold leading-[16.5px] tracking-[0.55px] uppercase text-(--slate-nature-second) align-middle"
            [class.text-(--error)!]="getControl('confirmPassword')?.invalid && getControl('confirmPassword')?.touched"
            >CONFIRM PASSWORD</label
          >
          <input
            [class.bg-(--form-control-error-bg)]="
              getControl('confirmPassword')?.invalid && getControl('confirmPassword')?.touched
            "
            [class.outline-(--primary)]="getControl('confirmPassword')?.valid && getControl('confirmPassword')?.touched"
            [class.outline-(--form-control-error-bg)]="
              getControl('confirmPassword')?.invalid && getControl('confirmPassword')?.touched
            "
            [class.focus:outline-(--form-control-error-bg)]="
              getControl('confirmPassword')?.invalid && getControl('confirmPassword')?.touched
            "
            [type]="isPasswordVisible() ? 'text' : 'password'"
            class="w-full bg-(--form-control-bg) p-4 rounded-sm outline-(--primary)"
            placeholder="Confirm Your Password"
            formControlName="confirmPassword"
          />
          @if (getControl('confirmPassword')?.hasError('passwordMismatch') && getControl('confirmPassword')?.touched) {
            <p class="text-(--error)">Passwords do not match.</p>
          }
          @if (getControl('confirmPassword')?.hasError('required') && getControl('confirmPassword')?.touched) {
            <p class="text-(--error)">Confirm Password is required.</p>
          }
        </div>
      </section>
      <app-reset-password-checks [password]="password()"></app-reset-password-checks>
      <button
        type="submit"
        class="bg-linear-to-r from-[#0052CC] to-[#003D99] h-15 disabled:cursor-not-allowed cursor-pointer w-full rounded-sm text-white font-semibold text-[16px] leading-6 tracking-normal"
        [disabled]="resetPasswordForm.invalid"
      >
        Update Password
      </button>
      <a
        routerLink="/login"
        class="font-normal block self-center cursor-pointer text-[14px] leading-5 tracking-normal text-center text-(--primary)"
      >
        Back to sign in
      </a>
    </div>
  </form>
</main>
