<main class="flex flex-col rounded-lg md:shadow-(container-shadow)">
  <form
    (ngSubmit)="resetPassword()"
    [formGroup]="resetPasswordForm"
    class="flex flex-col gap-8 md:gap-9 max-w-lg md:px-12.25 md:pb-7.25 md:pt-9.25 md:mt-23.25 md:mb-43.25 m-6 mb-25.5 md:bg-white bg-transparent md:rounded-lg rounded-none mx-auto"
  >
    <header class="flex flex-col bg-transparent md:text-left text-center md:gap-5.25 gap-2">
      <h1 class="text-[1.5rem] text-(--slate-nature-first) font-semibold tracking-[-0.6px] px-10 md:px-0 leading-7.5">
        Create a New Password
      </h1>
      <p
        class="leading-5 font-normal text-(--slate-nature-second) text-slate-nature-second tracking-normal text-[0.875rem] md:px-0 px-6.75"
      >
        Create a new, strong password to secure your workstation access..
      </p>
    </header>
    <div
      class="form-body flex flex-col bg-white shadow-(--container-shadow) md:shadow-none p-8 pb-12 md:p-0 md:bg-transparent gap-6 rounded-lg md:rounded-none mx-6 md:mx-0"
    >
      <section class="passwords-section flex flex-col justify-between md:gap-6 gap-4">
        <div class="password-container">
          <app-form-field-component
            [type]="isPasswordVisible() ? 'text' : 'password'"
            label="PASSWORD"
            controlName="Password"
            placeholder="Enter your password"
            [control]="getControl('password')"
          >
            <app-password-visibility-icon
              (visibilityChanged)="setPasswordVisiblity($event)"
            ></app-password-visibility-icon>
          </app-form-field-component>
        </div>
        <app-form-field-component
          class="w-full"
          [type]="isPasswordVisible() ? 'text' : 'password'"
          label="CONFIRM PASSWORD"
          controlName="confirmPassword"
          placeholder="Confirm Your Password"
          [control]="getControl('confirmPassword')"
        >
        </app-form-field-component>
      </section>
      <app-reset-password-checks [password]="password()"></app-reset-password-checks>
      <app-submit-button
        [isButtonDisabled]="resetPasswordForm.invalid"
        [isLoading]="isLoading()"
        buttonClass="h-13.75 p-3"
        >Update Password</app-submit-button
      >
      <a
        routerLink="/login"
        class="font-normal block self-center cursor-pointer text-[0.875rem] leading-5 tracking-normal text-center text-(--primary)"
      >
        Back to sign in
      </a>
    </div>
  </form>
</main>
