<section class="password-checks rounded-lg bg-(--form-control-bg) p-4 md:flex hidden flex-col gap-[7.5px]">
  <section class="password-check flex flex-row gap-2 items-center">
    <ng-container *ngComponentOutlet="passwordFirstCheckComponent()"></ng-container>

    <p
      class="text-(--paragraph-text-common-color) font-normal text-[0.69rem] leading-[16.5px] tracking-normal"
      text-(--paragraph-text-common-color)
    >
      At least 8 characters
    </p>
  </section>
  <section class="password-check flex flex-row gap-2 items-center">
    <ng-container *ngComponentOutlet="passwordSecondCheckComponent()"></ng-container>

    <p class="text-(--paragraph-text-common-color) font-normal text-[0.69rem] leading-[16.5px] tracking-normal">
      One uppercase, lowercase, and digit
    </p>
  </section>
  <section class="password-check flex flex-row gap-2 items-center">
    <ng-container *ngComponentOutlet="passwordThirdCheckComponent()"></ng-container>

    <p class="text-(--paragraph-text-common-color) font-normal text-[0.69rem] leading-[16.5px] tracking-normal">
      One special character
    </p>
  </section>
</section>
