@if (isLoggedIn()) {
  <div
    class="fixed inset-y-0 left-0 bg-(--surface-low) shadow-xl transition duration-1000"
    [class.w-72]="isSidebarToggled()"
    [class.lg:w-20]="!isSidebarToggled()"
    [class.translate-x-0]="isSidebarToggled()"
    [class.-translate-x-full.lg:translate-x-0]="!isSidebarToggled()"
    #sidebar
  >
    <aside appClickOutside (clickOutside)="close()" class="h-full flex flex-col justify-between">
      <div class="p-4">
        <section [class.px-4.mt-1]="!isSidebarToggled()" class="logo flex flex-row gap-1 items-center">
          <app-website-icon></app-website-icon>
          <p
            [class.lg:hidden]="!isSidebarToggled()"
            class="text-[1.25rem] font-bold leading-7 tracking-[-0.5px] text-(--slate-nature-first)"
          >
            Taskly
          </p>
        </section>
        <nav class="mt-8">
          <ul class="flex flex-col" [class.gap-4]="!isSidebarToggled()" [class.gap-1]="!isSidebarToggled()">
            @for (item of items(); track item.route) {
              <button (click)="navigateToPage(item.route)">
                <li
                  class="flex items-center transition rounded-lg"
                  [class.justify-center.items-center]="!isSidebarToggled()"
                  [class.p-4]="isSidebarToggled()"
                  [class.py-4]="!isSidebarToggled()"
                  [class.bg-white.text-red-500.shadow-[0px_1px_2px_0px_#0000000D]]="currentUrl() === item.route"
                >
                  <ng-container *ngComponentOutlet="item.icon; inputs: { isActive: currentUrl() === item.route }">
                  </ng-container>

                  <p
                    [class.lg:hidden]="!isSidebarToggled()"
                    class="ml-2 text-[0.875rem] font-medium"
                    [class.text-(--primary)]="currentUrl() === item.route"
                  >
                    {{ item.title }}
                  </p>
                </li>
              </button>
            }
          </ul>
        </nav>
      </div>

      <section>
        <button (click)="toggleSideBar()" class="hidden px-6 py-3 lg:flex flex-row items-center gap-2 justify-start">
          <svg
            [class.hidden]="!isSidebarToggled()"
            width="12"
            height="20"
            viewBox="0 0 12 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path d="M10 20L0 10L10 0L11.775 1.775L3.55 10L11.775 18.225L10 20Z" fill="#041B3C" />
          </svg>

          <svg
            [class.hidden]="isSidebarToggled()"
            width="12"
            height="20"
            viewBox="0 0 12 20"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M1.78301 6.16699e-06L11.7787 10.0043L1.77442 20L0.000178955 18.2242L8.22871 10.0028L0.00725113 1.77424L1.78301 6.16699e-06Z"
              fill="#041B3C"
            />
          </svg>

          <p
            [class.lg:hidden]="!isSidebarToggled()"
            class="text-[0.875rem] font-medium leading-5 tracking-normal text-(--slate-nature-first) transition"
          >
            Collapse
          </p>
        </button>
        <div class="px-6 py-3 flex flex-row items-center gap-2 justify-start">
          <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M2 18C1.45 18 0.979167 17.8042 0.5875 17.4125C0.195833 17.0208 0 16.55 0 16V2C0 1.45 0.195833 0.979167 0.5875 0.5875C0.979167 0.195833 1.45 0 2 0H9V2H2V16H9V18H2ZM13 14L11.625 12.55L14.175 10H6V8H14.175L11.625 5.45L13 4L18 9L13 14Z"
              fill="#BA1A1A"
            />
          </svg>
          <button
            [class.lg:hidden]="!isSidebarToggled()"
            (click)="logout()"
            class="text-[0.875rem] font-medium leading-5 tracking-normal text-(--error) transition"
          >
            Logout
          </button>
        </div>
      </section>
    </aside>
  </div>
}
