<div class="fixed inset-0 z-50 flex items-center justify-center bg-black/40 backdrop-blur-sm p-6">
  <div
    appClickOutside
    tabindex="0"
    (clickOutside)="close()"
    class="w-[80%] m-auto max-w-4xl overflow-hidden rounded-2xl bg-white shadow-2xl"
  >
    <div class="grid grid-cols-[1fr_320px]">
      <section class="flex flex-col">
        <div class="border-b border-slate-200 p-8">
          <div class="mb-5 flex items-center gap-3">
            <span class="rounded-md bg-blue-100 px-3 py-1 text-xs font-bold text-blue-700">
              {{ selectedItem()!.taskId }}
            </span>

            <button
              class="flex items-center gap-2 rounded-lg border border-slate-200 px-4 py-2 text-sm text-slate-700 hover:bg-slate-50"
            >
              <svg class="h-4 w-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-width="2" d="M8 7h8M8 12h8M8 17h8M4 7h.01M4 12h.01M4 17h.01" />
              </svg>

              {{ selectedItem()!.epic!.title! }}

              <svg class="h-4 w-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-width="2" d="M19 9l-7 7-7-7" />
              </svg>
            </button>
          </div>

          <h1 class="font-bold text-[1.25rem] leading-9 tracking-normal align-middle text-(--slate-nature-first)">
            {{ selectedItem()!.title }}
          </h1>
        </div>

        <!-- Description -->
        <div class="flex-1 p-8">
          <p class="mb-3 text-xs font-bold uppercase tracking-wider text-slate-500">Description</p>

          <textarea
            class="h-105 w-full resize-none rounded-xl border border-blue-200 p-4 text-[15px] leading-7 outline-none focus:border-blue-500"
            placeholder="Add project description..."
            >{{ selectedItem()!.description }}
            </textarea
          >
        </div>
      </section>

      <aside class="border-l border-slate-200 bg-slate-50 p-8">
        <div class="mb-8">
          <p class="mb-3 text-xs font-bold uppercase tracking-wider text-slate-500">Status</p>

          <button
            [class.bg-(--success)!]="selectedItem()!.status! === 'DONE'"
            [class.bg-(--error)!]="selectedItem()!.status! === 'BLOCKED'"
            [class.bg-(--primary)!]="selectedItem()!.status! === 'IN_PROGRESS'"
            [class.bg-(--paragraph-text-common-color)!]="selectedItem()!.status! === 'TO_DO'"
            [class.text-white!]="selectedItem()!.status! === 'TO_DO' || selectedItem()!.status! === 'BLOCKED'"
            class="flex w-full items-center bg-(--form-control-bg) justify-between rounded-lg px-4 py-3 font-bold text-[0.75rem] leading-4 tracking-normal align-middle text-[#002113]"
          >
            {{ selectedItem()!.status!.replaceAll('_', ' ') }}

            <svg class="h-4 w-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
              <path stroke-width="2" d="M19 9l-7 7-7-7" />
            </svg>
          </button>
        </div>

        <div class="mb-8">
          <p
            class="mb-3 text-[0.75rem] font-bold uppercase tracking-[0.5px] leading-3.75 text-(--paragraph-text-common-color)"
          >
            Assignee
          </p>
          @if (selectedItem()!.assignee?.name) {
            <button class="flex w-full items-center justify-between rounded-lg bg-white px-4 py-3">
              <div class="flex items-center gap-3">
                <div
                  class="flex h-9 w-9 items-center justify-center rounded-full bg-(--form-control-bg) text-[0.625rem] leading-3.75 text-center align-middle text-[#51617E] font-bold"
                >
                  {{ getNameInitials(selectedItem()!.assignee!.name!) }}
                </div>

                <span>{{ selectedItem()!.assignee?.name }}</span>
              </div>

              <svg class="h-4 w-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-width="2" d="M19 9l-7 7-7-7" />
              </svg>
            </button>
          } @else {
            <button class="flex w-full items-center justify-between rounded-lg bg-white px-4 py-3">
              <div class="flex items-center gap-3">
                <span>UnAssigned</span>
              </div>

              <svg class="h-4 w-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-width="2" d="M19 9l-7 7-7-7" />
              </svg>
            </button>
          }
        </div>

        @if (selectedItem()!.createdBy!.name) {
          <div class="mb-8">
            <p
              class="mb-3 text-[0.75rem] font-bold uppercase tracking-[0.5px] leading-3.75 text-(--paragraph-text-common-color)"
            >
              Reporter
            </p>

            <div class="flex items-center gap-3">
              <div
                class="flex h-9 w-9 ms-4 items-center justify-center rounded-full bg-(--form-control-bg) text-[0.625rem] leading-3.75 text-center align-middle text-[#51617E] font-bold"
              >
                {{ getNameInitials(selectedItem()!.createdBy!.name!) }}
              </div>

              <span>{{ selectedItem()!.createdBy?.name }}</span>
            </div>
          </div>
        }

        <hr class="my-8 text-[#C3C6D633]" />

        @if (selectedItem()!.dueDate) {
          <div class="mb-6">
            <p
              class="mb-3 text-[0.75rem] font-bold uppercase tracking-[0.5px] leading-3.75 text-(--paragraph-text-common-color)"
            >
              Due Date
            </p>

            <button class="flex w-full items-center justify-between rounded-lg bg-white px-4 py-3">
              <div class="flex items-center gap-3">
                <svg class="h-5 w-5 text-slate-400" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                  <path
                    stroke-width="2"
                    d="M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z"
                  />
                </svg>

                {{ formatDate(selectedItem()!.dueDate!) }}
              </div>

              <svg class="h-4 w-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
                <path stroke-width="2" d="M19 9l-7 7-7-7" />
              </svg>
            </button>
          </div>
        }

        <div class="flex items-center justify-between text-sm">
          <span
            class="mb-3 text-[0.75rem] font-bold uppercase tracking-[0.5px] leading-3.75 text-(--paragraph-text-common-color)"
          >
            Created At
          </span>

          <span class="font-medium text-slate-900"> {{ selectedItem()!.createdAt }} </span>
        </div>
      </aside>
    </div>

    <!-- Footer -->
    <div class="flex items-center justify-between border-t border-slate-200 bg-slate-50 px-8 py-4">
      <button class="flex items-center gap-2 text-slate-600 hover:text-slate-900">
        <svg class="h-4 w-4" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path
            stroke-width="2"
            d="M10 13a5 5 0 007.07 0l1.41-1.41a5 5 0 00-7.07-7.07L10 5m4 6a5 5 0 01-7.07 0L5.5 9.59a5 5 0 017.07-7.07L14 4"
          />
        </svg>

        Copy link
      </button>

      <button (click)="close()" class="rounded-lg bg-blue-100 px-6 py-2 font-semibold text-blue-800 hover:bg-blue-200">
        Close
      </button>
    </div>
  </div>
</div>
