<main
  class="flex flex-col md:mb-31.25 mb-2.5 md:mt-4 mt-0 max-w-xl sm:w-full mx-auto md:shadow-(--container-shadow) rounded-xl px-6 md:p-(--form-padding)"
>
  <header class="flex flex-col md:pt-0 pt-8 md:gap-2 gap-[6.8px] pb-10 md:items-center items-start">
    <h1 class="text-[1.875rem] text-(--slate-nature-first) font-semibold tracking-normal leading-9">
      Create your workspace
    </h1>
    <p class="form-control-subtitle">Join the editorial approach to task management.</p>
  </header>
  <form [formGroup]="registerForm" (ngSubmit)="register()" novalidate class="flex flex-col gap-6 mb-4">
    <section class="name-field">
      <app-form-field-component
        label="NAME"
        controlName="username"
        placeholder="Enter Your Username"
        [control]="getControl('username')"
        type="text"
      ></app-form-field-component>
      <p
        class="text-[0.69rem] py-1.5 ps-1 hidden md:block font-normal tracking-normal leading-[16.5px] text-(--slate-nature-third)"
      >
        3-50 characters, letters only.
      </p>
    </section>

    <app-form-field-component
      label="EMAIL"
      controlName="Email"
      placeholder="yourname@company.com"
      [control]="getControl('email')"
      type="email"
    ></app-form-field-component>
    <app-form-field-component
      label="Job Title (Optional)"
      controlName="jobTitle"
      placeholder="e.g. Project Manager"
      [control]="getControl('jobTitle')"
      type="text"
    ></app-form-field-component>
    <section class="passwords-section flex md:flex-row flex-col justify-between md:gap-x-4 gap-y-6">
      <app-form-field-component
        class="w-full"
        [type]="isPasswordVisible() ? 'text' : 'password'"
        label="PASSWORD"
        controlName="Password"
        placeholder="Enter your password"
        [control]="getControl('password')"
      >
        <app-password-visibility-icon (visibilityChanged)="setPasswordVisiblity($event)"></app-password-visibility-icon>
      </app-form-field-component>
      <app-form-field-component
        class="w-full"
        [type]="isPasswordVisible() ? 'text' : 'password'"
        label="CONFIRM PASSWORD"
        controlName="confirmPassword"
        placeholder="Confirm Your Password"
        [control]="getControl('confirmPassword')"
      >
      </app-form-field-component>
    </section>
    <div class="md:block hidden">
      <app-password-checks
        [password]="getControl('password').value"
        (setPasswordStrongOutPut)="this.setPasswordStrong($event)"
      ></app-password-checks>
    </div>
    <app-submit-button
      [isButtonDisabled]="registerForm.invalid || isPasswordStrong()"
      buttonClass="md:h-12 h-14 md:py-3 py-4"
    >
      Create Account
    </app-submit-button>
  </form>
  <div class="mt-auto">
    <app-navigate-to-login></app-navigate-to-login>
  </div>
</main>
