/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss';
@theme {
  --primary: #003d9b;
  --primary-container: #0052cc;
  --surface-highest: #d7e2ff;
  --surface-low: #f1f3ff;
  --background: #f9f9ff;
  --slate-nature-first: #041b3c;
  --slate-nature-second: #4f5f7b;
  --slate-nature-third: #c3c6d6;
  --success: #82f9be;
  --error: #ba1a1a;
  --warning: #ffb300;
  --form-control-bg: #d7e2ff;
  --form-control-error-bg: #ffdad6;
  --icon-bg-color: #e8edff;
  --bg-primary-gradient: linear-gradient(90deg, rgba(0, 61, 155, 1) 0%, rgba(0, 82, 204, 1) 100%);
  --form-padding: 3rem;
  --skeleton: linear-gradient(90deg, #e8edff 25%, #e8ede8 50%, #e8edfe 75%);
}

@layer components {
  .skeleton-basic {
    background: var(--skeleton);
    background-size: 200% 100%;
    border-radius: 12px;
    animation: shimmer 1.5s infinite;
    will-change: background-position;
  }

  @keyframes shimmer {
    0% {
      background-position: 200% 0;
    }

    100% {
      background-position: -200% 0;
    }
  }
  .display-lg {
    font-size: 56px;
    font-weight: 700;
    line-height: 56px;
    font-family: 'Inter', sans-serif;
    letter-spacing: -2.8px;
    vertical-align: center;
  }
  .headline-lg {
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    font-family: 'Inter', sans-serif;
    letter-spacing: 0;
    vertical-align: middle;
  }
  .title-md {
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    font-family: 'Inter', sans-serif;
    letter-spacing: 0;
    vertical-align: middle;
  }
  .body-md {
    font-size: 14px;
    font-weight: 400;
    line-height: 22.75px;
    font-family: 'Inter', sans-serif;
    letter-spacing: 0;
    vertical-align: middle;
  }
  .label-sm {
    font-size: 11px;
    font-weight: 700;
    line-height: 16.5px;
    font-family: 'Inter', sans-serif;
    letter-spacing: 1.1px;
    vertical-align: middle;
    text-transform: uppercase;
  }
  .primary-button {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    border-radius: 2px;
    padding: 10px 24px;
    color: white;
    border: none;
    background: var(--bg-primary-gradient);
  }
  .secondary-button {
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    padding: 10px 24px;
    background: transparent;
    border: none;
    color: #003d9b;
  }

  .ghost-action-button {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: center;
    padding: 10px 24px;
    background: transparent;
    border: none;
    color: #4f5f7b;
    opacity: 0.6;
  }

  .form-control {
    width: 100%;
    padding-top: 14px;
    padding-right: 16px;
    padding-bottom: 15px;
    padding-left: 16px;
    border-radius: 4px;
    height: 3rem;
    background-color: var(--form-control-bg);
    border-radius: 8px;
    outline: var(--primary);
    @media (max-width: 767px) {
      padding-top: 18px;
      padding-bottom: 19px;
    }
  }

  .form-control-label {
    font-weight: Bold;
    font-size: 11px;
    line-height: 16.5px;
    letter-spacing: 0.55px;
    vertical-align: middle;
    padding-bottom: 6px;
    padding-inline-start: 4px;
    color: var(--slate-nature-second);
    text-transform: uppercase;
  }

  .form-control-title {
    font-family: Inter;
    font-weight: 700;
    font-style: Bold;
    font-size: 10px;
    line-height: 15px;
    letter-spacing: 1px;
    vertical-align: middle;
    text-transform: uppercase;
    color: #737685;
  }
}
