<div class="grid lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-6">
  <div class="bg-white rounded-md p-6 shadow-sm flex flex-wrap gap-1 items-center justify-between">
    <div>
      <p
        class="text-(--paragraph-text-common-color) font-bold text-[0.75rem] leading-4 tracking-[0.6px] align-middle uppercase"
      >
        Total Tasks
      </p>

      @if (isLoading()) {
        <div class="skeleton-basic h-10 w-10"></div>
      } @else {
        <h2 class="font-bold text-(--slate-nature-first) text-[1.875rem] tracking-normal leading-9 align-middle">
          {{ statsDomainService.taskRes()?.totalTasks }}
        </h2>
      }
    </div>

    <div class="p-3.75 rounded-xs bg-[#0052CC1A]">
      <app-icon-component name="total-tasks"></app-icon-component>
    </div>
  </div>

  <div class="bg-white rounded-md p-6 shadow-sm flex gap-1 items-center justify-between">
    <div>
      <p
        class="text-(--paragraph-text-common-color) font-bold text-[0.75rem] leading-4 tracking-[0.6px] align-middle uppercase"
      >
        Completed Tasks
      </p>

      @if (isLoading()) {
        <div class="skeleton-basic h-10 w-10"></div>
      } @else {
        <h2 class="font-bold text-(--slate-nature-first) text-[1.875rem] tracking-normal leading-9 align-middle">
          {{ statsDomainService.taskRes()?.doneTasks }}
        </h2>
      }
    </div>

    <div class="p-3.75 rounded-xs bg-[#0068441A]">
      <app-icon-component name="completed-tasks"></app-icon-component>
    </div>
  </div>

  <div class="bg-white rounded-md p-6 shadow-sm flex gap-1 items-center justify-between">
    <div>
      <p
        class="text-(--paragraph-text-common-color) font-bold text-[0.75rem] leading-4 tracking-[0.6px] align-middle uppercase"
      >
        Overdue Tasks
      </p>

      @if (isLoading()) {
        <div class="skeleton-basic h-10 w-10"></div>
      } @else {
        <h2 class="font-bold text-[1.875rem] tracking-normal leading-9 align-middle text-(--error)">
          {{ statsDomainService.taskRes()?.overdueTasks }}
        </h2>
      }
    </div>

    <div class="p-3.75 rounded-xs bg-[#FFDAD633]">
      <app-icon-component name="overdue-tasks"></app-icon-component>
    </div>
  </div>
</div>
