<div class="grid grid-cols-3 gap-6">
  <!-- Total Tasks -->
  <div class="bg-white rounded-md p-6 shadow-sm flex gap-1 items-center justify-between">
    <div>
      <p
        class="text-(--paragraph-text-common-color) font-bold text-[0.75rem] leading-4 tracking-[0.6px] align-middle uppercase"
      >
        Total Tasks
      </p>

      <h2 class="font-bold text-(--slate-nature-first) text-[1.875rem] tracking-normal leading-9 align-middle">
        {{ stats()?.totalTasks }}
      </h2>
    </div>

    <div class="p-3.75 rounded-xs bg-[#0052CC1A]">
      <app-icon-component name="total-tasks"></app-icon-component>
    </div>
  </div>

  <!-- Completed -->
  <div class="bg-white rounded-md p-6 shadow-sm flex gap-1 items-center justify-between">
    <div>
      <p
        class="text-(--paragraph-text-common-color) font-bold text-[0.75rem] leading-4 tracking-[0.6px] align-middle uppercase"
      >
        Completed Tasks
      </p>

      <h2 class="font-bold text-(--slate-nature-first) text-[1.875rem] tracking-normal leading-9 align-middle">
        {{ stats()?.doneTasks }}
      </h2>
    </div>

    <div class="p-3.75 rounded-xs bg-[#0068441A]">
      <app-icon-component name="completed-tasks"></app-icon-component>
    </div>
  </div>

  <!-- Overdue -->
  <div class="bg-white rounded-md p-6 shadow-sm flex gap-1 items-center justify-between">
    <div>
      <p
        class="text-(--paragraph-text-common-color) font-bold text-[0.75rem] leading-4 tracking-[0.6px] align-middle uppercase"
      >
        Overdue Tasks
      </p>

      <h2 class="font-bold text-[1.875rem] tracking-normal leading-9 align-middle text-(--error)">
        {{ stats()?.overdueTasks }}
      </h2>
    </div>

    <div class="p-3.75 rounded-xs bg-[#FFDAD633]">
      <app-icon-component name="overdue-tasks"></app-icon-component>
    </div>
  </div>
</div>
