<div class="p-6 mb-20 bg-[#F8F9FF] min-h-screen">
  <!-- Header -->
  <div class="mb-8">
    <h1 class="text-(--slate-nature-first) font-bold text-[1.875rem] leading-9 tracking-[-0.75px] align-middle">
      Weekly Planner
    </h1>

    <p class="font-normal text-[1rem] leading-6 tracking-normal align-middle text-(--paragraph-text-common-color)">
      Manage your deadlines and track team velocity.
    </p>
  </div>

  <app-calendar-range-text></app-calendar-range-text>

  <app-calendar-stats></app-calendar-stats>
  <section class="grid mt-8 lg:grid-cols-3 md:grid-cols-2 grid-cols-1 gap-5">
    @for (item of statsRes()?.daily; track $index) {
      <div
        [class.border-2]="item.day === today"
        [class.border-none]="item.day !== today"
        class="min-h-142.5 relative border-(--primary) rounded-xl bg-white p-5 shadow-sm"
      >
        <p class="text-sm font-bold uppercase text-slate-400">Mon</p>
        <h2 class="mt-1 text-2xl font-bold text-[#0d2346]">{{ formatStatDay(item.day) }}</h2>

        <div class="mt-8 space-y-3">
          @for (status of statusOptions; track $index) {
            @if (item.statuses[status]) {
              <div class="flex items-center flex-wrap justify-between rounded bg-slate-50 px-3 py-3">
                <span class="text-sm font-bold text-slate-500"> {{ status.replaceAll('_', ' ') }}</span>
                <span class="font-bold text-[#0d2346]">{{ item.statuses[status] }}</span>
              </div>
            }
          }
        </div>
        @if (item.day === today) {
          <p
            class="text-white uppercase text-[0.75rem] font-semibold bg-(--primary) py-1 px-3 rounded-2xl absolute top-0 left-[50%] -translate-y-3 translate-x-[-50%]"
          >
            Today
          </p>
        }
      </div>
    }
  </section>

  <app-tasks-chart-and-projects></app-tasks-chart-and-projects>
</div>
