<div class="p-6 bg-[#F8F9FF] min-h-screen">
  <!-- Header -->
  <div class="mb-8">
    <h1 class="text-(--slate-nature-first) font-bold text-[1.875rem] leading-9 tracking-[-0.75px] align-middle">
      Weekly Planner
    </h1>

    <p class="font-normal text-[1rem] leading-6 tracking-normal align-middle text-(--paragraph-text-common-color)">
      Manage your deadlines and track team velocity.
    </p>
  </div>

  <!-- Filter Section -->
  <div class="bg-(--surface-low) relative rounded-2xl p-4 flex flex-wrap items-center justify-between mb-8">
    <div class="flex items-center gap-6">
      @if (isCalendarOpen()) {
        <div class="flex flex-col gap-4 absolute rounded-xl top-23 left-0 bg-white shadow-xl p-5">
          <div class="flex flex-row justify-between items-center">
            <h3 class="font-bold text-[1rem] leading-6 tracking-normal align-middle">
              {{ monthName() }} {{ currentYear() }}
            </h3>
            <div class="buttons-section flex flex-row gap-4 items-center">
              <svg
                tabindex="0"
                (keydown)="previousMonth()"
                (click)="previousMonth()"
                width="8"
                height="12"
                viewBox="0 0 8 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d="M6 12L0 6L6 0L7.4 1.4L2.8 6L7.4 10.6L6 12Z" fill="#4F5F7B" />
              </svg>
              <svg
                tabindex="0"
                (keydown)="nextMonth()"
                (click)="nextMonth()"
                width="8"
                height="12"
                viewBox="0 0 8 12"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path d="M4.6 6L0 1.4L1.4 0L7.4 6L1.4 12L0 10.6L4.6 6Z" fill="#4F5F7B" />
              </svg>
            </div>
          </div>
          <div class="gap-2 grid grid-cols-7 pb-4 grid-rows-4">
            <div class="col-span-7 flex flex-row justify-between p-2">
              @for (item of days; track $index) {
                <p
                  class="font-bold text-[0.625rem] leading-3.75 text-center text-[#94A3B8] align-middle uppercase tracking-[-0.5px]"
                >
                  {{ item }}
                </p>
              }
            </div>
            @for (item of currentMonthDays(); track $index) {
              <p
                tabindex="0"
                (click)="setRangeDate(item)"
                (keydown)="setRangeDate(item)"
                [class.text-(--primary)]="isDateInRange(item)"
                [class.text-(--slate-nature-first)]="!isDateInRange(item)"
                [class.bg-[#0052CC33]]="isDateInRange(item)"
                [class.rounded-s-lg]="isStartDate(item)"
                [class.rounded-e-lg]="isEndDate(item)"
                class="p-2 text-center font-bold text-[0.75rem] leading-4 tracking-normal align-middle"
              >
                {{ item!.getDate() }}
              </p>
            }
          </div>
          <div class="actions-buttons flex justify-between flex-row pt-4 border-t border-[#E2E8F080]">
            <button
              class="font-medium w-1/2 text-[0.75rem] leading-4 tracking-normal align-middle text-center text-(--slate-nature-second)"
              (click)="toggleCalendar()"
            >
              Cancel
            </button>
            <app-submit-button
              buttonClass="w-1/2 font-semibold text-[0.75rem] leading-4 align-middle h-10 py-1 px-7"
              (click)="applyRange()"
              >Apply Range</app-submit-button
            >
          </div>
        </div>
      }
      <button>
        <svg class="w-6 h-6 text-slate-500">
          <!-- left arrow -->
        </svg>
      </button>

      <span
        tabindex="0"
        (keydown)="toggleCalendar()"
        (click)="toggleCalendar()"
        class="font-bold text-(--slate-nature-first) text-[0.875rem] leading-5 tracking-normal align-middle py-1.5"
      >
        @if (startDate() && endDate()) {
          {{ formatDate(startDate()!) }} - {{ formatEndDate(endDate()!) }}
        }
      </span>

      <button>
        <svg class="w-6 h-6 text-slate-500">
          <!-- right arrow -->
        </svg>
      </button>
    </div>

    <div class="flex gap-4">
      <select class="bg-white min-w-55 rounded-xl px-5 py-4 text-xl border border-slate-200">
        <option>All Projects</option>
      </select>

      <select class="bg-white min-w-45 rounded-xl px-5 py-4 text-xl border border-slate-200">
        <option>All Statuses</option>
      </select>
    </div>
  </div>

  <!-- Stats -->
  <div class="grid grid-cols-3 gap-6">
    <!-- Total Tasks -->
    <div class="bg-white rounded-md p-6 shadow-sm flex gap-1 items-center justify-between">
      <div>
        <p
          class="text-(--paragraph-text-common-color) font-bold text-[0.75rem] leading-4 tracking-[0.6px] align-middle uppercase"
        >
          Total Tasks
        </p>

        <h2 class="font-bold text-(--slate-nature-first) text-[1.875rem] tracking-normal leading-9 align-middle">
          {{ stats()?.totalTasks }}
        </h2>
      </div>

      <div class="p-3.75 rounded-xs bg-[#0052CC1A]">
        <app-icon-component name="total-tasks"></app-icon-component>
      </div>
    </div>

    <!-- Completed -->
    <div class="bg-white rounded-md p-6 shadow-sm flex gap-1 items-center justify-between">
      <div>
        <p
          class="text-(--paragraph-text-common-color) font-bold text-[0.75rem] leading-4 tracking-[0.6px] align-middle uppercase"
        >
          Completed Tasks
        </p>

        <h2 class="font-bold text-(--slate-nature-first) text-[1.875rem] tracking-normal leading-9 align-middle">
          {{ stats()?.doneTasks }}
        </h2>
      </div>

      <div class="p-3.75 rounded-xs bg-[#0068441A]">
        <app-icon-component name="completed-tasks"></app-icon-component>
      </div>
    </div>

    <!-- Overdue -->
    <div class="bg-white rounded-md p-6 shadow-sm flex gap-1 items-center justify-between">
      <div>
        <p
          class="text-(--paragraph-text-common-color) font-bold text-[0.75rem] leading-4 tracking-[0.6px] align-middle uppercase"
        >
          Overdue Tasks
        </p>

        <h2 class="font-bold text-[1.875rem] tracking-normal leading-9 align-middle text-(--error)">
          {{ stats()?.overdueTasks }}
        </h2>
      </div>

      <div class="p-3.75 rounded-xs bg-[#FFDAD633]">
        <app-icon-component name="overdue-tasks"></app-icon-component>
      </div>
    </div>
  </div>
  <section class="grid mt-4 grid-cols-2 gap-4 sm:grid-cols-3 lg:grid-cols-7">
    @for (item of stats()?.daily; track $index) {
      <div class="min-h-142.5 overflow-scroll rounded-xl border border-slate-100 bg-white p-5 shadow-sm">
        <p class="text-sm font-bold uppercase text-slate-400">Mon</p>
        <h2 class="mt-1 text-2xl font-bold text-[#0d2346]">{{ formatStatDay(item.day) }}</h2>

        <div class="mt-8 space-y-3">
          @for (status of statusOptions; track $index) {
            @if (item.statuses[status]) {
              <div class="flex items-center flex-wrap justify-between rounded bg-slate-50 px-3 py-3">
                <span class="text-sm font-bold text-slate-500"> {{ status.replaceAll('_', ' ') }}</span>
                <span class="font-bold text-[#0d2346]">{{ item.statuses[status] }}</span>
              </div>
            }
          }
        </div>
      </div>
    }
  </section>

  <!-- ===================== BOTTOM ===================== -->
  <section class="mt-10 grid grid-cols-1 gap-8 lg:grid-cols-2">
    <!-- Tasks By Status -->
    <div class="rounded-xl border border-slate-100 bg-white p-8 shadow-sm">
      <h2 class="text-2xl font-bold text-[#0d2346]">Tasks by Status</h2>

      <div class="mt-10 flex flex-col items-center gap-10 md:flex-row">
        <!-- Donut -->
        <div class="relative h-64 w-64 shrink-0">
          <svg viewBox="0 0 200 200" class="-rotate-90" xmlns="http://www.w3.org/2000/svg">
            <!-- Background -->
            <circle cx="100" cy="100" r="70" fill="none" stroke="#e8edff" stroke-width="32" />

            <!-- In Progress -->
            <circle
              cx="100"
              cy="100"
              r="70"
              fill="none"
              stroke="#0645a5"
              stroke-width="32"
              stroke-dasharray="220 440"
              stroke-linecap="butt"
            />

            <!-- Blocked -->
            <circle
              cx="100"
              cy="100"
              r="70"
              fill="none"
              stroke="#c9181e"
              stroke-width="32"
              stroke-dasharray="55 440"
              stroke-dashoffset="-220"
              stroke-linecap="butt"
            />

            <!-- Done -->
            <circle
              cx="100"
              cy="100"
              r="70"
              fill="none"
              stroke="#005c3f"
              stroke-width="32"
              stroke-dasharray="165 440"
              stroke-dashoffset="-275"
              stroke-linecap="butt"
            />
          </svg>

          <!-- Center -->
          <div class="absolute inset-0 flex flex-col items-center justify-center">
            <span class="text-4xl font-bold text-slate-800">{{ stats()?.totalTasks }}</span>
            <span class="text-lg font-semibold text-slate-400">Total</span>
          </div>
        </div>

        <!-- Legend -->
        <div class="w-full space-y-7">
          @for (item of stats()?.totals; track $index) {
            <div>
              <div class="flex items-center justify-between">
                <div class="flex items-center gap-3">
                  <span class="h-4 w-4 rounded-full bg-blue-700"></span>
                  <span class="font-bold text-slate-600">{{ stats()?.daily }}</span>
                </div>

                <span class="font-bold text-[#0d2346]">{{ item }}</span>
              </div>

              <div class="mt-2 ml-7 h-1.5 overflow-hidden rounded-full bg-blue-100">
                <div class="h-full w-[50%] bg-blue-700"></div>
              </div>
            </div>
          }
          <!-- In Progress -->
          <div>
            <div class="flex items-center justify-between">
              <div class="flex items-center gap-3">
                <span class="h-4 w-4 rounded-full bg-blue-700"></span>
                <span class="font-bold text-slate-600">In Progress</span>
              </div>

              <span class="font-bold text-[#0d2346]">{{ stats()?.daily }}</span>
            </div>

            <div class="mt-2 ml-7 h-1.5 overflow-hidden rounded-full bg-blue-100">
              <div class="h-full w-[50%] bg-blue-700"></div>
            </div>
          </div>

          <!-- Done -->
          <div>
            <div class="flex items-center justify-between">
              <div class="flex items-center gap-3">
                <span class="h-4 w-4 rounded-full bg-emerald-800"></span>
                <span class="font-bold text-slate-600">Done</span>
              </div>

              <span class="font-bold text-[#0d2346]">{{ stats()?.doneTasks }}</span>
            </div>

            <div class="mt-2 ml-7 h-1.5 overflow-hidden rounded-full bg-blue-100">
              <div class="h-full w-[38%] bg-emerald-800"></div>
            </div>
          </div>

          <!-- Blocked -->
          <div>
            <div class="flex items-center justify-between">
              <div class="flex items-center gap-3">
                <span class="h-4 w-4 rounded-full bg-red-700"></span>
                <span class="font-bold text-slate-600">Blocked</span>
              </div>

              <span class="font-bold text-[#0d2346]">{{ 3 }}</span>
            </div>

            <div class="mt-2 ml-7 h-1.5 overflow-hidden rounded-full bg-blue-100">
              <div class="h-full w-[13%] bg-red-700"></div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- All Projects -->
    <div class="rounded-xl border border-slate-100 bg-white p-8 shadow-sm">
      <h2 class="text-2xl font-bold text-[#0d2346]">All Projects</h2>

      <div class="mt-10 space-y-7">
        <div class="flex items-center justify-between gap-5">
          <span class="font-bold text-slate-600"> Skyline Residency </span>

          <span class="font-bold text-[#0d2346]"> 45 Tasks </span>
        </div>

        <div class="flex items-center justify-between gap-5">
          <span class="font-bold text-slate-600"> Urban Center Phase 2 </span>

          <span class="font-bold text-[#0d2346]"> 28 Tasks </span>
        </div>

        <div class="flex items-center justify-between gap-5">
          <span class="font-bold text-slate-600"> Green Valley Office </span>

          <span class="font-bold text-[#0d2346]"> 12 Tasks </span>
        </div>
      </div>
    </div>
  </section>
</div>
